<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>錯誤頁面</title>
    <style type="text/css">
        .firstBlock{margin-right: 5%;margin-left: 5%;background-color:rgb(25, 54, 95);width:auto;height:100px;text-align:center;line-height:100px;font-size: larger;color: aliceblue;font-weight: bold;}
        .secondBlock{margin-right: 5%;margin-left: 5%;width:auto;height:500px;border-width:1px;border-style:solid;border-color:rgb(160, 179, 179);display: flex;justify-content:center;align-items:center;}
    </style>
</head>
<body>
    <div class="firstBlock">
            失敗頁面
    </div>
    <div class="secondBlock">
        <div style="justify-content: center;width: 100%;">
            <div style="text-align:center ;">{{msa}}<br/></div>
            <div style="text-align:center ;"><a href="/">返回首頁</a></div>
        </div>
    </div>
</body>
</html>