<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        .contentName{font-weight: bold;}
        .contentText{font-weight: initial;}
        .firstBlock{margin-right: 5%;margin-left: 5%;background-color:rgb(25, 54, 95);width:auto;height:100px;text-align:center;line-height:100px;font-size: larger;color: aliceblue;font-weight: bold;}
        .secondBlock{margin-right: 5%;margin-left: 5%;width:auto;height:200px;border-width:1px;border-style:solid;border-color:rgb(160, 179, 179);display: flex;justify-content:center;align-items:center;}
        .thirdBlock{margin-right: 5%;margin-left: 5%;width:auto;height:200px;border-width:1px;border-style:solid;border-top-style:hidden;border-color:rgb(160, 179, 179);display: flex;justify-content:center;align-items:center;}
        .contentBlock{margin-right: 5%;margin-left: 5%;width:auto;height: max-content;border-width:1px;border-style:solid;border-top-style:hidden;border-color:rgb(160, 179, 179);display: flex;justify-content:center;align-items:center;}
    </style>
    <script>
        function getInformation(){
            getContent()
        }
        // 對後端送出請求，取得所有留言訊息，並依照留言時間越新的越前面
        function getContent(){
            let url="http://127.0.0.1:3000/resultContentRequest"
            let xhr=new XMLHttpRequest()
            xhr.open("get",url)
            xhr.send()
            xhr.onload=function(){
                contentJson=JSON.parse(xhr.responseText)
                contentBox=window.document.getElementById("contentBox")
                nameIndex=0
                contentIndex=1
                for(var i in contentJson){
                    console.log(contentJson[i])
                    var div =window.document.createElement("div")
                    var newContentName = document.createElement("a")
                    newContentName.textContent=contentJson[i][nameIndex]+ " : "
                    newContentName.setAttribute("class","contentName")
                    var newContentText = document.createElement("a")
                    newContentText.textContent= contentJson[i][contentIndex]
                    newContentText.setAttribute("class","contentText")
                    contentBox.appendChild(div)
                    div.appendChild(newContentName)
                    div.appendChild(newContentText)
                }
            }
        }
    </script>
    <title>會員頁面</title>
</head>
<body onload="getInformation()">
    <div class="firstBlock">
            歡迎光臨，這是會員頁
    </div>
    <div class="secondBlock">
        <div style="justify-content: center;width: 100%;">
            <div style="text-align:center ;">{{nic}}歡迎登入系統<br/></div>
            <div style="text-align:center ;"><a href="/signout">登出系統</a></div>
        </div>
    </div>
    <div class="thirdBlock">
        <div>
            <div style="text-align:center ; font-weight: bold;">快來留言吧</div>
            <form action="/leaveMessage">
                內容<input type="text" name="content" style="margin:5px; " required="required"/><br/>
                <div style="text-align:center"><button>送出</button></div>
            </form>
        </div>
    </div>
    <div class="contentBlock">
        <div>
            <div id="contentBox" style="text-align:center ; font-weight: bold;"></div>
        </div>
    </div>
</body>
</html>